{% extends "layout.html" %}

{% block title %}Home - Projeto Individual WebMAC{% endblock %}

{% block content %}
<div class="home-page-container">
    <h2>Projeto Individual WebMAC</h2>
    
    <div class="home-content">
        <p>
            Este é um sistema de planejamento e gerenciamento de viagens. Nele é possível criar viagens, itinerários, planejar gastos e visualizar seu histórico de viagens e lugares visitados.

        </p>
        <div>
            <h3 class="label text-center">Funcionalidades</h3>
            <ul class="list">
                <li>Planejamento de viagens</li>
                <li>Planejamento de itinerários</li>
                <li>Planejamento financeiro</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
