{% extends "layout.html" %}

{% block content %}
    <div class="auth-page-container">
        <h2>Login de Usuário</h2>
        
        <div id="login-message" class="error"></div>
        
        <form id="login-form" class="form" method="post" action="/users/login" hx-boost="false" onsubmit="loginUser(event)">
            
            <div class="input-container">
                <label for="username" class="input-label">Usuário:</label>
                <input type="text" id="username" name="username" required class="input"><br><br>
            </div>
            
            <div class="input-container">
                <label for="password" class="input-label">Senha:</label>
                <input type="password" id="password" name="password" required class="input"><br><br>
            </div>
            
            <button class="input-button" type="submit">Login</button>
        </form>

        <script src="/static/scripts/users.js"></script>
    </div>
{% endblock %}